/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFDDC1, #D4E9F9); /* Double-colored background */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    width: 100%;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
}

#model-container {
    position: relative;
    width: 300px;
    height: 600px;
    margin-bottom: 2em;
}

#clothing-options {
    margin-top: 1em;
    display: flex;
    gap: 10px;
}

.clothing {
    width: 80px;
    cursor: pointer;
    border: 2px solid transparent;
}

.clothing:hover {
    border-color: #007bff;
}

button {
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    background-color: #007bff;
    color: #fff;
}
